  .btn-custom {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #660000; /* Cinza claro */
        color: black;
    }

