{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{ name }}{% else %}Estranho{% endif %}!</h1>


<h3>A sua Instituição de ensino é: {{ institution if institution else 'None' }}</h3>
<h3>Está cursando a disciplina de: {{ disciplina if disciplina else }}</h3>

<h4>O IP do computador remoto é: {{ remote_addr if remote_addr else 'None' }}</h4>
<h4>O host da aplicação é: {{ request.host if request.host else 'None' }}</h4>
</div>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.lastname.label }} {{ form.lastname(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.institution.label }} {{ form.institution(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.disciplina.label }} {{ form.disciplina(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-white") }}
    </div>
</form>

<p>The local date and time is {{ moment(current_time).format('MMMM D, YYYY h:mm A') }}.</p>
<p>That was {{ moment(current_time).fromNow() }}.</p>
{% endblock %}
